doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title protfolio
        include ./components/links
    body 
        include ./components/sidebar
        .content 
            include ./components/banner
            include ./components/about
            include ./components/experance
            include ./components/projects
            include ./components/contact



    include ./components/scripts
