section#about {
  min-height: 100vh;
  background-color: #e5e5e9;
  color: rgb(16, 16, 41);
  padding: 3rem 1rem;
  font-weight: 600;
  line-height: 2rem;
  h1,
  h2 {
    width: fit-content;
    margin: 1rem auto;
    position: relative;
    &::after {
      content: "";
      width: 0;
      height: 0.2rem;
      position: absolute;
      left: 0;
      bottom: -0.2rem;
      background-color: rgb(8, 8, 95);
      @include transation(1s);
      transform-origin: left;
    }
  }
  p {
    max-width: 500px;
    margin: 4rem auto;
    overflow: hidden;
    transform: translateY(100%);
    opacity: 0;
    @include transation(0.5s);
  }
  h2 {
    margin-bottom: 5rem;
  }
  .skills ul.list {
    @include flex(row, center, center);
    flex-wrap: wrap;
    gap: 0.5rem;
    li {
      padding: 0.5rem 1rem;
      background: rgba(153, 153, 153, 0.2);
      border-radius: 5px;
      font-weight: 600;
      color: #666;
    }
  }
  .cv {
    @include flex(row, center, center);
    margin: 5rem 0;
    a {
      background-color: rgb(22, 29, 7);
      padding: 1rem;
    }
  }
  &.active {
    h1,
    h2 {
      &:after {
        width: 100%;
      }
    }
    p {
      transform: translateY(0%);
      opacity: 1;
    }
  }
  .softSkills {
    display: flex;
    justify-content: center;
    ul li {
      list-style: decimal;
    }
  }
}

@include medi {
  #about {
    line-height: 0.5rem;

    .cv {
      margin: 1rem 0;
    }
  }
}
