section#about
    h1  About Me 
    p I’m a Full Stack Web Developer since I started learning how to This code makes me think how much fun it is when I write An icon and it makes me hungry to learn, so I consider it my life.
    h2 Skills
    .skills
        ul.list 
            li 
                span Node js 
                span  Express
                span  MongoDB
                span  My SQL
            li 
                span HTML 
                span html5
                span pug-js
                span Jade-js
                span ejs
            li 
                span CSS 
                span css3 
                span scss
            li 
                span Java-Script 
                span ES6
                span Object Oriented
                typeScript 
            li 
                span vue js 
                spa  vue cli
                spa  vuex
            li 
                span React js 
                spa  React cli
                spa  redux
            li
                span gulp-js
                span git 
                span github 
    .cv 
        a(href="./resume.pdf" target="_blank") Download CV
    