section#about
    h1  About Me 
    p I am a front-end web developer since I started learning how to code. This makes me think how much fun it is when I write code, so I consider it my life, now I can create high-quality adaptive layouts on your design or adapt your website to your corporate identity. or other front-end tasks.
    h2 Skills
    .skills
        ul.list 
            li 
                span HTML 
                span html5
                span pug-js
            li 
                span CSS 
                span css3 
                span scss
            li 
                span Java-Script 
                span es6
            li 
                span vue js 
                span gulp-js
                span git 
                span github 
    .cv 
        a(href="./cv.pdf") Download CV
    