section#about
    h1  About Me 
    p Front End Developer with 1 year experience building and maintaining responsive websites, I create the front side of a web page with React.js or Gulp.js or (html ,css ,pure JavaScript) and I can create a full-stack app using (React.js, Firebase) or (React.js, node.js(Express), and MongoDB ) 
    h2 Skills
    .skills
        ul.list 
            li 
                span React js 
                spa  redux
            li 
                span Node js 
                span  Express
                span  MongoDB
                span  My SQL
            li 
                span HTML 
                span HTML5 
                span pug-js
               
            li 
                span CSS 
                span css3 
                span scss
            li 
                span Java-Script 
                span ES6
                span Object Oriented
                 
         

            li
                span gulp-js
                span git 
                span github 
    .cv 
        a(href="./resume.pdf" target="_blank") Download CV
    