section#about
    h1  About Me 
    p Hello! I'm passionate about crafting exceptional websites that blend functionality with creativity. With a focus on React.js and Next.js, I specialize in designing user-friendly interfaces that not only look stylish but also deliver seamless experiences. My goal is to help businesses and individuals bring their ideas to life on the web, whether it's through building stunning web applications or optimizing existing sites for performance and usability. Let's collaborate to transform your vision into reality and create digital experiences that captivate and inspire. 
    h2 Skills
    .skills
        ul.list 
            li 
              span c++ 
            li 
                span React.js 
                span  next.js
                
            li 
                span Node js 
                span  Express
                span  MongoDB
                //- span  My SQL
            li 
                span HTML 
                span HTML5 
                span pug-js

               
            li 
                span CSS 
                span css3 
                span scss
                span bootstrap 
                span tailwindcss 
            li 
                span Java-Script 
                span ES6
                span Object Oriented
                span TypeScript 
                 
         

            li
                span gulp-js
                span git 
                span github 
    h2 Soft Skills
    .softSkills
        ul
            li  Communication skills
            li   Teamwork
            li    Problem-solving
            li   Attention to detail
            li   Time management
            li   bussness management
            
        
    .cv 
        a(href="./resume.pdf" target="_blank") Download CV
    