section#about
    h1  About Me 
    p Hello! I'm passionate about crafting exceptional websites that blend functionality with creativity. With a focus on React.js and Next.js, I specialize in designing user-friendly interfaces that not only look stylish but also deliver seamless experiences. My goal is to help businesses and individuals bring their ideas to life on the web, whether it's through building stunning web applications or optimizing existing sites for performance and usability. Let's collaborate to transform your vision into reality and create digital experiences that captivate and inspire. 
    h2 Skills
    .skills
        ul.list 
            li c++(opp) 
            li React.js 
            li vue.js 
            li next.js 
            li Node js 
            li Express
            li MongoDB
            li HTML
            li pug-js
            li scss
            li tailwindcss 
            li Java-Script (ES6)
            li Object Oriented
            li TypeScript 
            li gulp-js
            li git 
            li github 


    h2 Soft Skills
    .softSkills
        ul
            li  Communication skills
            li   Teamwork
            li    Problem-solving
            li   Attention to detail
            li   Time management
            li   bussness management
            
        
    .cv 
        a(href="./resume.pdf" target="_blank") Download CV
    