section#contact 
        h1 Get in Touch
        p Let's talk about everything!
        form(action='mailto:eidsayed22t@gmail.com' method='POST' ,autocomplete="on" enctype="text/plain" name='EmailForm') 
            .inputs 
              input(type="text",  name="Name" ,placeholder="Your Name", autocomplete="on")
              input(type="email", name="E-Mail Address" ,placeholder="Email adress" ,autocomplete="on")
            input(type="text", name="Subject", placeholder="Subject",autocomplete="on")
            textarea(name="Message", cols="30", rows="10" placeholder="Message",autocomplete="on") 
            input(type="submit", value="Submit")