section#contact 
        h1 Get in Touch
        p Let's talk about everything!
        form( name='EmailForm',id="contactForm" )  
            .inputs 
              input(type="text",  name="Name", id ="name",placeholder="Your Name", )
              input(type="email", name="E-Mail Address" ,id ="email",placeholder="Email adress" ,)
            input(type="text", name="Subject",id="subject", placeholder="Subject",)
            textarea(name="Message", id="message",cols="30", rows="10" placeholder="Message",) 
            input(type="submit", value="Submit" class="submit" )