section#contact 
        h1 Get in Touch
        p Let's talk about everything!
        form(action='mailto:eidsayed22t@gmail.com' method='POST'  enctype="text/plain" name='EmailForm') 
            .inputs 
              input(type="text",  name="Name" ,placeholder="Your Name")
              input(type="email", name="E-Mail Address" ,placeholder="Email adress")
            input(type="text", name="Subject", placeholder="Subject")
            textarea(name="Message", cols="30", rows="10" placeholder="Message") 
            input(type="submit", value="Submit")