section#experience 
    h1  Experience 
    hr
    .cards 
        .card 
            .card-head 
                img(src="./imgs/hotel.png", alt="hotel page")
                p HoTel project 
            .card-body
                p this is a simple project,created with Pug-Js, Scss, and some JavaScript ,gulp-js
                a(rel="stylesheet", href="https://eidsid.github.io/Hotel/dist/") see website
                a(href="https://github.com/eidsid/Hotel") Code 