.projects_info 
    i.fa.fa-times.close 
    
    .content
        img(, alt="")
        .text-content 
            h1.title
            p.more-info 
            hr
            h2.language 
            ol.list
                    h1.usedtool         
                    li.info1
                    li.info2 
                    li.info3   
            .links
                a.site( href="" class="link1" target="_blank")  Website
                a.code(href=""  class="link2" target="_blank" ) Code 
            



