.projects_info
    i.fa.fa-times.close 
    .content
        img(src="image", alt="img")
<<<<<<< HEAD
        .text-container 
=======
        .text-content 
>>>>>>> 5b2829af40fe3dffa857e47559f00c142d0af026
            h1.title
            p.more-info 
            hr
            h2.language   
            .links
                a( href="" class="link1 site" target="_blank")  Website
                a(href=""  class="link2 code" target="_blank" ) Code 
            



