.projects_info 
    i.fa.fa-times.close 
    
    .content
        img(src="image", alt="img")
        .text-content 
            h1.title
            p.more-info 
            hr
            h2.language 
            ol.list
                    h1.usedtool         
                    li.info1
                    li.info2 
                    li.info3   
            .links
                a( href="" class="link1 site" target="_blank")  Website
                a(href=""  class="link2 code" target="_blank" ) Code 
            



