aside.sidebare.mini
    .sidebar_controll
        i.fa.fa-bars.open.active
        i.fa.fa-times.close
    img(src="./imgs/LOGO.png", alt="logo")
    ul.nav 
        li.link.active 

            a( href="#home")
                i.fa.fa-home.fa  &nbsp;&nbsp;&nbsp;  
                span Home
        li.link   

            a( href="#about" )
                i.fas.fa-user-check &nbsp;&nbsp;&nbsp;
                span About 
        li.link 

            a( href="#services")
                i.fa.fa-graduation-cap &nbsp;&nbsp;&nbsp; 
                span  Services
        li.link 

            a( href="#expreance")
                i.fas.fa-layer-group &nbsp;&nbsp;&nbsp; 
                span Expreance
        li.link

            a( href="#contact")
                i.fas.fa-comments &nbsp;&nbsp;&nbsp;
                span Contact

    p &copy; 2021 Eid Template